a {
  font-weight: 600;
  font-size: 17px;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(29, 45, 139);
}

body {
  background: #cad0d8;
  font-family: "M PLUS 1", sans-serif;
  color: white;
}

form {
  font-size: 14px;
  text-align: center;
}

h1 {
  position: relative;
  left: 10px;
  text-align: center;
  font-size: 70px;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  margin: 30px 0 0 0;
}

h3 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

h4 {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

hr {
  margin: 0 0 10px 0;
  display: block;
}

ul {
  margin: 20px 20px 0 20px;
  list-style: none;
  background: rgba(184, 214, 241, 0.5);
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.city-search {
  width: 50%;
  border-radius: 5px;
  background: rgba(202, 208, 216);
  border: none;
  color: black;
  font-size: 10px;
  padding: 6px;
  font-weight: 500;
}

.city-search:hover {
  background: rgb(223, 228, 235);
}

.card {
  background: rgba(184, 214, 241, 0.5);
  border-radius: 10px;
  border-color: rgb(184, 214, 241, 0.2);
}

.card-text {
  color: white;
}

.city {
  text-transform: capitalize;
}

.unused-unit {
  font-size: 20px;
  position: relative;
  top: -35px;
  color: black;
  background: rgba(255, 235, 167, 1);
  border-radius: 5px;
  padding: 3px 6px;
}

.current-unit {
  font-size: 40px;
  position: relative;
  top: -20px;
  right: 15px;
}

.unused-unit:hover {
  cursor: pointer;
  background: rgb(255, 244, 209);
}

.weather {
  width: 300px;
  display: block;
  margin: 0 10px 0 15px;
}

.test {
  display: block;
}

.list-group-item {
  padding: 0px;
  font-size: 15px;
}

.card-img-top {
  width: 140px;
  display: block;
  margin: 0 auto;
}

.container {
  background: linear-gradient(
    180deg,
    rgba(14, 12, 34, 1) 0%,
    rgba(66, 94, 127, 1) 90%
  );
  border-radius: 10px;
  display: block;
  width: 850px;
  min-height: 250px;
  margin: 10px auto;
  padding: 10px;
}

.card-text {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.border {
  box-sizing: border-box;
}

.forecast {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.extra-info {
  margin: 35px 0 0 0;
  padding: 0 10px;
}

.list-group {
  padding: 30px 0 0 0;
}

.overview {
  padding: 0px 0 0 12px;
}

.main-weather-view {
  padding: 0;
}

.fa-temperature-low {
  margin: 10px;
  font-size: 35px;
  color: rgba(120, 175, 248, 0.904);
}

.fa-temperature-high {
  margin: 10px;
  font-size: 35px;
  color: rgba(248, 120, 120, 0.904);
}

.temp-range {
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
  margin: 10px 0 0 0;
}

.low-temp {
  padding: 0;
}

.high-temp {
  padding: 0;
}

.temp-range-card {
  padding: 10px;
}

.min-temp {
  margin: 10px 0 0 0;
  font-size: 20px;
  font-weight: 400;
}

.max-temp {
  margin: 10px 0 0 0;
  font-size: 20px;
  font-weight: 400;
}

.search-button {
  background-color: #ffeba7;
  font-weight: 600;
  font-size: 10px;
  padding: 6px 7px;
  border: none;
  border-radius: 3px;
}

.search-button:hover {
  background-color: #fff3ca;
  color: black;
}

.location-button {
  font-weight: 500;
  font-size: 13px;
  padding: 3px 4px 4px 4px;
  border: none;
  border-radius: 8px;
  background-color: #ffeba7;
}

.hithere:hover {
  animation: hithere 1s ease;
  background-color: #fff3ca;
}
@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.forecast-day {
  padding: 8px 16px 0 16px;
}

.forecast-day-font {
  font-size: 25px;
  font-weight: 400;
}

.max-forecast-temp {
  font-weight: 600;
}

.min-forecast-temp {
  font-weight: 300;
}

.local-time {
  font-size: 14px;
  text-align: center;
  background-color: rgba(184, 214, 241, 0.5);
  border-radius: 10px;
  font-size: 16px;
}

.credit-list {
  background: whitesmoke;
  color: black;
  margin: 0;
}

.credit {
  width: 850px;
  margin: 0 auto;
  height: 200px;
}

.bird {
  border-radius: 10px;
  height: 200px;
}
